{{ 'custom.scss.css' | asset_url | stylesheet_tag }}
<script src="{{ 'custom-product-form.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'custom-variant-radios.js' | asset_url }}" defer="defer"></script>

<section class="main-product page-width">
	<div class="product">
		<div class="product-media">
			{% render 'custom-product-gallery', product: product %}
		</div>
		<div class="product-info">
			{% render 'custom-product-details', product: product %}

			<custom-product-form data-url="{{ product.url }}" data-section-id="{{ section.id }}">
				{%- assign product_form_id = 'product-form-' | append: section.id -%}
				{%- assign cart_qty = cart | item_count_for_variant: product.selected_or_first_available_variant.id -%}

				{% form 'product', product %}
					<input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}" class="variant-id"/>
					{% render 'custom-variant-picker', product: product, product_form_id: product_form_id %}
					<input
						type="number"
						name="quantity"
						class="quantity-input"
						data-cart-quantity="{{ cart_qty }}"
						data-min="{{ product.selected_or_first_available_variant.quantity_rule.min }}"
						min="{{ product.selected_or_first_available_variant.quantity_rule.min }}"
						{% if product.selected_or_first_available_variant.quantity_rule.max != null %}
							data-max="{{ product.selected_or_first_available_variant.quantity_rule.max }}"
							max="{{ product.selected_or_first_available_variant.quantity_rule.max }}"
						{% endif %}
						step="{{ product.selected_or_first_available_variant.quantity_rule.increment }}"
						value="{{ product.selected_or_first_available_variant.quantity_rule.min }}"
					>
					<button type="submit">
						Add to cart
					</button>
				{% endform %}
			</custom-product-form>

		</div>
	</div>
</section>